<div class="container-fluid">
    <div class="row">
        <h2>Aplicacion en tiempo real</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col-sm-5">
            <div class="form-group">
                <label for="username">Usuario</label>
                <input type="text" [(ngModel)]="user" class="form-control" id="username" placeholder="Enter username">
                <!-- <small id="userHelp" class="form-text text-muted">Type your username.</small> -->
            </div>
        </div>
        <div class="col-sm-5">
            <label for="roomInput">Sala de eventos</label>
            <select name="roomInput" id="roomInput" class="form-control" [(ngModel)]="room">
                <option value="Lobby">Habitacion</option>
                <option value="Hall">Sala</option>
                <option value="Deluxe">Vestibulo</option>
            </select>
        </div>
        <div class="col sm-2">
            <div style="margin-top:19px;" class="pull-right">
                <button type="button" class="btn btn-primary" (click)="join()">Ingresar</button>
                <button type="button" class="btn btn-default" (click)="leave()">Salir</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="well" style="height:200px; padding:15px;">
            <div *ngFor="let item of messageArray">
                <span><strong>{{item.user}} : </strong> {{item.message}}</span>
            </div>
        </div>
    </div>

    <form #appForm = "ngForm" (ngSubmit)="sendMessage()">
        <div class="row">
            <div class="col-sm-10">
                <input type="text" class="form-control" [(ngModel)]="messageText">
            </div>
            <div class="col-sm-2">
                <button type="submit" class="btn-success pull-right">Enviar</button>
                
            </div>
    </form>
</div>
</div>